<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Jonny Jackson</title>
</head>

<body>
    <h1>About</h1>
    <p>My name is Jonathan Jackson. I'm from Kirtland, Ohio. I study computer science at Utah State University.</p>
    <p>I graduated from Kirtland High School and Lakeland Community College with High Honors.</p>
    <p>I served my mission in the Dominican Republic. I have 1 brother and 1 sister.</p>
    <a href="/">Back Home</a>
</body>

</html>