<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>

<body>
    <h1>Jonny Jackson Projects</h1>
    <h3>Minesweeper</h3>
    <p>A simple minesweeper game I wrote in javascript a couple weeks ago</p>
    <h3><a href="https://www.tower2customs.com/tictactoe/index">Ultimate Tic Tac Toe</a></h3>
    <p>This is like tic tac toe but each square has a tic tac toe board inside</p>
    <h3><a href="https://www.tower2customs.com/memoryGame/index">Memory Game</a></h3>
    <p>Test your memory. Once you click a square, they all disapear. Click them all in order to move on to the next
        level</p>
    <h6>Sorry, the links arent actually right (I havent uploaded all my projects to the web yet)</h6>

    <br />
    <a href="/">Back Home</a>
</body>

</html>